.d-grid > .weather--card-container{
        grid-template-columns: repeat(3, 30%);
        margin:1rem 0;

}
.weather--card-container{
    width: 350px;
    min-height: 300px;
    background-color: white;
    border-radius: 25px;
    padding: 2rem;
}


.weather--card-container > h1,h2,h3{
    color:black;
}

#block--container{
    margin-top: 2rem;
    display: grid;
    place-items: center;
}
.weather--card-badge{
    color:white;
    background-color: #E9880E;
    border-radius: 25px;
}
.weather--card-degree{
    font-size: 4rem;
    font-weight: 700;
}
